.navbar
    background-color transparent  
    padding 26px 0
    position fixed
    width 100%
    z-index 1
    .responsive-button
        display block
        position absolute
        right 3px
        top 7px
        width 37px                
    .links
        background-color #fff
        display none
        margin 0 auto 
        width 99%
        li 
            display block 
            padding 15px
            a 
                color #d6d6d6
                font-family arial
                font-size 12px
                text-decoration none
    @media(min-width: 760px)
        .responsive-button
            display none
        .links
            background-color transparent
            display block
            width 58%
            li 
                display inline
                padding 15px 27px
.menu-diferente
    background-color #fff
    box-shadow 1px 1px 6px 0px rgba(51, 51, 51, 0.09)
    .links
        li 
            a 
                color rgba(51, 51, 51, 0.51)